extends layout

block content
    input(type="hidden" name="host" class="host" value=host)
    input(type="hidden" name="user" class="user" value=user)
    input(type="hidden" name="password" class="password" value=password)
    input(type="hidden" name="schema" class="schema" value=schema)
    .form_wrap       
        .form_con
            .form_label 테이블 명
            input(type="text" name="table_name" class="table_name" value="test")
            .column
                .form_label 컬럼 명
                input(type="text" name="column0" class="column0" value="id")
            .column    
                .form_label 컬럼 명
                input(type="text" name="column1" class="column1" value="name")
        button(class='create_table') 테이블 생성하기
        button(class='add_column') 컬럼 추가하기
            script.
                $(()=>{
                    /**
                    * 컬럼명 추가 버튼 눌렀을 때
                    */
                    cnt=2;
                    $('.add_column').click((e)=>{
                        $('.form_con').append(`
                        <div class="column">
                            <div class="form_label">컬럼 명</div>
                            <input type="text" name="column${cnt}" class="column${cnt}" value=""/>
                        </div>
                        `);
                        cnt++;
                    });
                    /**
                    *   테이블 생성하기 버튼 눌렀을때
                    */
                    $('.create_table').click((e)=>{
                        var temp = [];
                        for(var k=0;k<cnt;k++){
                            temp.push($(`.column${k}`).val());
                        }
                        
                        $.ajax({
                            type : 'POST',
                            url : '/create_table/success',
                            data : {
                                host: $('.host').val(),
                                user: $('.user').val(),
                                password : $('.password').val(),
                                schema : $('.schema').val(),
                                table_name : $('.table_name').val(),
                                column : temp,
                            },
                            success : function(res){
                                alert("creat_table 요청성공");
                            },
                            error : function(err){
                                alert("creat_table 요청실패");
                            }
                        });
                    });
                });
            
    
    div.history
        
           
