extends layout

block content
    input(type="hidden" name="host" class="host" value=host)
    input(type="hidden" name="user" class="user" value=user)
    input(type="hidden" name="password" class="password" value=password)
    input(type="hidden" name="schema" class="schema" value=schema)
    .form_wrap       
        .form_con
            .form_label URL_JSON
            input(type="text" name="url_json" class="url_json input_600px" value="http://ddragon.leagueoflegends.com/cdn/10.22.1/data/ko_KR/champion.json")
            .form_label 테이블 명
            input(type="text" name="table_name" class="table_name input_300px" value="test")
            .column_first
                .form_label 객체명
                input(type="text" name="column0" class="column0 input_300px" value="id")       
        button(class='url_json_btn_all') json 모든 객체명으로 데이터 INSERT
        button(class='url_json_btn_part') 추가한 객체명에만 데이터 INSERT
        button(class='add_column') 객체명 추가하기
        button(class='delete_column') 객체명 삭제하기
        script.
            $(()=>{
                /**
                * 컬럼명 추가 버튼 눌렀을 때
                */
                cnt=1;
                $('.add_column').click((e)=>{
                    $('.form_con').append(`
                    <div class="column">
                        <div class="form_label">객체명</div>
                        <input type="text" name="column${cnt}" class="column${cnt} input_300px" value=""/>
                    </div>
                    `);
                    cnt++;
                });
                /**
                * 컬럼명 삭제 버튼 눌렀을 때
                */
                $('.delete_column').click((e)=>{
                    $('.column:last').remove("");
                    if(cnt>1)cnt--;
                });
                /**
                *  테이블의 모든 컬럼으로 데이터 삽입
                */
                $('.url_json_btn_all').click((e)=>{
                    var temp = [];
                    for(var k=0;k<cnt;k++){
                        temp.push($(`.column${k}`).val());
                    }
                    $.ajax({
                        type : 'POST',
                        url : '/url_json/success',
                        data : {
                            host: $('.host').val(),
                            user: $('.user').val(),
                            password : $('.password').val(),
                            schema : $('.schema').val(),
                            url_json : $('.url_json').val(),
                            table_name : $('.table_name').val(),
                            column : temp,
                        },
                        success : function(res){
                            alert("url_json 요청성공");
                            for(var key in res){
                                var keysObj = res[key];
                                $('.history').append(key+"<br>");
                            }
                           
                        },
                        error : function(err){
                            alert("url_json 요청실패");
                        }
                    });
                });    
                /**
                *  추가한 컬럼으로만 데이터 삽입
                */
                $('.url_json_btn_part').click((e)=>{
                    var temp;
                    if(cnt != 1){
                        temp = [];
                        for(var k=0;k<cnt;k++){
                            temp.push($(`.column${k}`).val());
                        }
                    }else{
                        temp = $(`.column0`).val();
                    }
                    $.ajax({
                        type : 'POST',
                        url : '/url_json/success_part',
                        data : {
                            host: $('.host').val(),
                            user: $('.user').val(),
                            password : $('.password').val(),
                            schema : $('.schema').val(),
                            url_json : $('.url_json').val(),
                            table_name : $('.table_name').val(),
                            column : temp,
                        },
                        success : function(res){
                            alert("url_json 요청성공");
                            for(var key in res){
                                var keysObj = res[key];
                                $('.history').append(key+"<br>");
                            }
                           
                        },
                        error : function(err){
                            alert("url_json 요청실패");
                        }
                    });
                });
            });
            
    
    div.history
        
           
